@{
    ViewData["Title"] = "Strona główna";
}
<br /><br />
<article>
    <div class="text-center">
        <mark>Zostałeś/aś wylogowany/a! Aby uzyskać dostęp do systemu, zaloguj się ponownie.</mark>
    </div>
    <br /><br/>
    <div class="text-center">
        <figure>
            <img src="~/css/images/login2.png" alt="login" width="200" />
        </figure>
    </div>
</article>

