@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie odzyskania hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
    W celu odzyskania hasła sprawdź wiadomość wysłaną na Twój adres email.
</p>

