@page
@model LockoutModel
@{
    ViewData["Title"] = "Konto użytkownika zostało zablokowane";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Przekroczono limit logowania się do systemu. Twoje konto zostało zablokowane.</p>
</header>
